<md-card class="card">

  <div md-card-image class="contact-item-header" fxLayout="row">
    <md-icon class="contact-item-icon">person</md-icon>

    <md-card-content>
      <div class="contact-item-name">{{contact | contactName}}</div>
      <div class="contact-item-content">
        <div>{{contact.phone}}</div>
        <div>{{contact | contactAddress}}</div>
      </div>
    </md-card-content>
  </div>

  <md-card-actions>
    <button caVibration md-icon-button (click)="deleteContactItem()">
      <md-icon>delete</md-icon>
    </button>
    <button appVibration md-icon-button (click)="editContactItem()">
      <md-icon>edit</md-icon>
    </button>

    <button appVibration id="btnMap" md-icon-button (click)="showMapItem()">
      <md-icon>room</md-icon>
    </button>

  </md-card-actions>
</md-card>

