.card {
  max-width: 400px;
  min-width: 250px;
  margin-bottom: 20px;
}

.contact-item-header {
  padding-top: 10px;
  color: white;
  background-color: #7986cb;
}

.mat-card-image {
  margin-bottom: 0;
}

.contact-item-icon {
  font-size: 42px;
  width: 42px;
  height: 42px;
  padding: 10px;
}

.contact-item-name {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: bold;
}

.contact-item-content {
  font-size: 14px;
  margin-bottom: 2px;
}

#btnMap {
  float: right;
}

