<div fxLayout="column" fxLayoutAlign="center center">
  <md-card class="loginCard">

    <img md-card-image src="assets/images/google-material-design-wallpaper-2.jpg">

    <md-card-title id="loginTitle">Contacts app</md-card-title>

    <br>
    <div class="error-text">{{errorText}}</div>

    <div md-dialog-content fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center center">
        <md-icon class="md-36" class="cardIcon">account_circle</md-icon>

        <md-input-container floatPlaceholder="auto">
          <input mdInput [(ngModel)]="account"
                 type="text"
                 placeholder="Username"
                 (keyup.enter)="openContactsPage()">
        </md-input-container>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <md-icon class="md-36" class="cardIcon">lock</md-icon>

        <md-input-container floatPlaceholder="auto">
          <input mdInput [(ngModel)]="password"
                 type="password"
                 placeholder="Password"
                 (keyup.enter)="openContactsPage()">
        </md-input-container>
      </div>

      <div class="contact-dialog-action">
        <button (click)="openContactsPage()" class="btnSignIn" [disabled]="!account || !password" md-raised-button
                caVibration>Login
        </button>
      </div>

    </div>
  </md-card>
</div>

