
.loginCard {
  width: 300px;
  text-align: center;
}

#loginTitle {
  float: left;
  position: absolute;
  top: 160px;
  font-size: 36px;
  color: white;
}

.cardIcon {
  font-size: 36px;
  padding-right: 28px;
  color: navy;
}

.btnSignIn {
  margin-top: 18px;
}

.router-body {
  overflow-y: hidden !important;
}

.error-text {
  color: red;
}
