.contact-Dialog-Body{
  width: 260px;
  height: 400px;
}

.dialog-inputs input{
  width: 260px;
}

.contact-title{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.btnSave{
  float: left;
}

.btnClose{
  float: right;
}

.contact-dialog-action{
margin-top: 20px;
}
