.toolbar-and-content {
  position: relative;
  height: 100vh;
}

.toolbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  z-index: 3;
}

.router-body {
  overflow-y: auto;
}

.sidenav-container {
  position: relative;
  height: 100%;
}

.contactSidenav {
  background-image: url("../assets/images/google-material-design-wallpaper-2.jpg");
  background-size: 190px;
  background-repeat: no-repeat;
  width: 190px;
}

.sidenav-items {
  height: 140px;
  color: white;
}

.login-icon {
  padding-top: 3px;
  font-size: 64px;
}

.login-name {
  padding-top: 8px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.login-mail {
  padding-left: 10px;
  font-size: 12px;
}

