<div class="contacts-list">
<app-contact-list [contacts]="contactsList"
                  (removeContact)="deleteContact($event)"
                  (editContact)="openDialog($event)"
                  (showContactOnMap)="showMap($event)">
</app-contact-list>
</div>

<div *ngIf="!contactsList || !contactsList.length" class="no-contacts-div" fxLayout="column" fxFlexAlign="center center" fxFlexFill>
  <md-icon class="no-contacts-icon">account_circle</md-icon>
  <p class="no-contacts-text">  No contacts </p>
</div>

<button appVibration id="btnAdd" md-fab (click)="openDialog()" color="primary">
  <md-icon>add</md-icon>
</button>
